.container {
    margin: 3em 5em;
    text-align: justify;
    margin-bottom: 100px;

    h3 {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    ul {
        margin-left: 2em;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
