.container {
    margin: 8em 6em;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        font-size: 2em;
    }

    p {
        font-size: calc(1em + 2px);
        color: #424242;
        text-align: justify;
        font-weight: 500;
    }
}
